body {
    background-color: #2e2e2e;
    color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 100px;
    margin-top: 200px;
    margin-bottom: 80px;
}    

h2 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

h3{
    margin: 0;
    font-weight: bold;
}

p, ul {
    margin: 0;
    font-size: x-large;
}


.text-center {
    text-align: center;
}

.row {
    max-width: 1000px; 
    margin: 0 auto;
    margin-bottom: 80px;
}

.container {
    display: flex;
}

.box {
    margin: 0;
    width: 200px; /* Sets each box width to 200px */
}

.footer {
    padding: 35px;
    font-size: 18px;
}

/* Video + game containers */
/* */ 
/* */ 
.sm-video-wrapper {
    width: 251px;
    margin: 30px auto 10px;
    max-width: 100%;
}

.video-responsive {
    max-width: 100%;
}

.lg-video-wrapper {
    width: 720px;
    margin: 30px auto 10px;
    max-width: 100%;
}

.game-wrapper {
    width: 960px;
    margin: 30px auto 10px;
    max-width: 100%;
}

.game-responsive {
    max-width: 100%;
    padding-top: 62.5%;
}

.no-video-wrapper {
    border: 1px solid black;
    padding: 8px;
}

/* @media (max-width: 991px) {
    .text-sm-center {
        text-align: center;
    }
}


@media (min-width: 992px) {
    .text-sm-center {
        text-align: left;
    }
} */